<!DOCTYPE html>
<html>
<head>
	<meta charset = "UTF-8">
	<title>Signup &ndash; NoteStack</title>
	<link rel = "stylesheet/less" href = "./css/ui-base.less"/>
	<link rel = "stylesheet/less" href = "./css/ui-static.less"/>
	<script src = "js/less.min.js"></script>
	<link rel = "icon" href = "./favicon.ico" type = "image/x-icon"/>
</head>
<body>	
	<div class = "center-container">
		<header class = "center-header">
			<img class = "app-logo" src = "./img/logo.png"/>
			<div class = "page-title">
				<h1>Signup form</h1>
			</div>
		</header>
		<div class = "center-content">
			<form class = "login-form">
				<div class = "form-line">
					<label for = "user-email">Email</label>
					<input type = "email" name = "user-email" />
				</div>
				<div class = "form-line">
					<label for = "user-password">Password</label>
					<input type = "password" name = "user-password"/>
				</div>
				<div class = "form-line">
					<label for = "user-password">Repeat it</label>
					<input type = "password" name = "user-password"/>
				</div>
				<div class = "form-line">
					<input type = "checkbox" name = "agree-terms"/>
					Agree to the <a href = "">Terms of Use</a>
				</div>
				<button class = "big-button login-button">Sign up</button>
				<!-- <p class = "additional-options"><a href = "">Create account</a> | <a href = "">Forgot password?</a></p> -->
			</form>
		</div>
	</div>
</body>
